@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  text-align: center;
}

.error {
  box-shadow: 0 0 5px rgb(238, 81, 81);
  border: 1px solid rgb(238, 81, 81);
}

.error-div {
  margin-bottom: 5px;
  font-family: 'Inconsolata', monospace;
  color: red;
  max-width: 316px;
}

.visibility-toggle {
  display: flex;
  border: .1px solid #C4C4C4;
  border-left: none;
  button {
    padding: 5px;
    border: none;
    background: none;
    transition: all .2s;
    cursor: pointer;

    &:active {
      background-color: none;
      outline: none;
      transform: scale(.9);
    }
  }
}

.input-container {
  width: 300px;
  height: 45px;
  display: flex;
  flex-direction: row;
  margin: 8px;

  label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 76px;
    background-color: #FFC700;
  }

  .toggle {
    border-right: none;
  }

  input {
    width: 100%;
    border: 1px solid #C4C4C4;
    border-left: 0;
    margin: 0;
    padding: 8px;
    font-size: 14px;

    &::placeholder {
      color: rgba(128, 128, 128, 0.287);
    }
  }
}

.search-container {
  display: flex;

  input {
    width: 500px;
    font-size: 1em;
    padding: 5px 20px;
  }
}
