.articles {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 100px;
}

.articles_horizontal {
  display: flex;
  flex-direction: row;
}

.articles_vertical {
  display: flex;
  flex-direction: row;
}

.padding {
  margin: 20px 20px 20px 0;
}
