.profile-container{
  padding: 20px;
  display: grid;
  grid-template-columns: 12% 75%;
  grid-column-gap: 60px;
  font-family: 'Montserrat', sans-serif;
}
.sidebar ul{
  list-style-type: none;
}
.sidebar ul li{
  list-style-type: none;
  padding-bottom: 25px;
}
.sidebar ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
.profile-header{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 30px;
  padding: 20px;
}
.profile-image{
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-details h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.profile-details span p {
  font-weight: bold;
  font-size: 12px;
  color: #858585;
  padding: 0;
  margin-top: -20px;
}
.profile-details p {
  font-weight: 100;
  font-size: 13px;
  padding-top: 10px;
  margin: 0;
  width: 90%;
  line-height: 23px;
}
.following{
  font-size: 12px;
  font-weight: bold;
}
.followers{
  font-size: 12px;
  margin: 20px 10px 10px;
  font-weight: bold;
}
.name-button{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 40% 30%;
}
.profile-links {
  width: 90%;
  padding-bottom: 10px;
  border-bottom: #000000 1px solid;
}

.profile-links ul{
  padding-left: 20px;
}
.profile-links ul li{
  list-style-type: none;
  float: left;
  margin-right: 30px;
}
.profile-links ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
.profile-article{
  margin: 0;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr
}
.single-article {
  padding: 20px;
}
.profile-footer{
  position: relative;
  width: 100%;
  bottom: 10px;
}

dialog {
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.56);
  border: none;
  border-radius: 10px;
  width: 550px;
  height: auto;
  position: relative;
  padding: 40px 0;


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;

    .profile-heading {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 400;
      color: rgba(0,0,0,0.7);
    }

    .close {
      color: #aaaaaa;
      position: absolute;
      right: 20px;
      top: 2px;
      font-size: 50px;
      font-weight: 200;
      transform: rotateZ(0);
      transition: all .5s ease;
    }

    .close:hover{
      color: #FFC700;
      text-decoration: none;
      cursor: pointer;
      transform: rotateZ(360deg);
    }

    .update-form {
      width: 60%;

      .profile-img{
        display: none;
      }

      .form-label{
        display: block;
        cursor: pointer;
        position: relative;
        text-align: center;
        margin-bottom: 25px;

        .form-image{
          opacity: .5;
          object-fit: cover;
          width: 130px;
          height: 130px;
          border-radius: 50%;
        }

        .icon-container{
          position: absolute;
          top: 50%;
          left: 51%;
          transform: translate(-50%, -50%);
          color: rgba(0,0,0,0.7);
          margin:0;
          font-size: 20px;
        }
      }
    }
  }
}

::backdrop {
  background: rgba(255, 255, 255, 0.9)
}