.articles {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.articles_horizontal {
  display: flex;
  flex-direction: row;
}

.articles_vertical {
  display: flex;
  flex-direction: row;
}

.padding {
  margin: 20px;
}

.articles-container{
  margin-left: 160px;
}

.no-result{
  min-height: 100vh;
}

.loading{
  min-height: 100vh;
}