.sidebar-container {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 100px;
  position: sticky;
  top: 60px
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 12px 0;
    font-size: 20px;
  }
  .categories {
    margin: 0 0 0 10px;
    h4 {
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      margin: 10px 0;
    }
  }
  .category-field {
    cursor: pointer;
    &.active {
      color: #FFC700;
    }
  }
}
