@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600&display=swap');

$body-color: #ffa500;
$secondary-color: rgb(243, 243, 243);
$black: #000;
$default-font: 'Montserrat', sans-serif;

h1 {
  color: $body-color;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: $body-color;
      transition: all ease-in-out 200ms;
    }
  }
}
