$body-color: #ffa500;

h1 {
  color: $body-color;
}

*,*::before, *::after {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  outline: none;
  line-height: 1.5;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: $body-color;
      transition: all ease-in-out 200ms;
    }
  }
}

.sweet-alert-btn {
  background-color: #fbc02a !important;
  transition: ease-in-out .5s;
  &:hover {
    background-color: #fbc02aa6 !important;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
