$accent-color: #ffa500;

.modal-overlay {
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffffed;
  padding: 10%;

  .modal {
    border: .5px solid #88888810;
    min-width: 700px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2.5px 2.5px 2px #88888881;
  }
  
  .modal-content {
    padding: 60px 60px 60px 60px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 20px;
    transition: all .4s;
    border: none;
    background: none;
    outline: none;
  }
  
  .close:hover,
  .close:focus {
    color: $accent-color;
    cursor: pointer;
    transform: scale(1.2);
    outline: none;
  }
}
