.header-top {
  width: 100%;
  background-color: #FFF;
  // padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 20;

  .logo {
    width: 200px;
    height: 60px;
  }

  .search{
    display: flex;
    flex-direction: column;
    width: 40%;

    div{
      padding: 3px 5px;
      width: 100%;
      display: flex;
      input{
        display: inline-block;
        border: none;
        width: 100%;
        font-size: 16px;
      }
      button {
        display: inline-block;
        border: none;

        .icon-container{
          font-size: 16px;
        }

        :hover{
          cursor: pointer;
        }
      }
    }

    span {
      width: 100%;
      height: 1px;
      border-bottom: 1px solid rgba(0,0,0,0.6);
      transform: scaleX(0);
      transform-origin: 100%;
      transition: all .5s ease;
    }
  }

  .action {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;

    button {
      cursor: pointer;
    }


    .notification{
      background: inherit;
      border: none;

      .showDot{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: rgb(238, 52, 52);
        position: absolute;
        top: 30%;
        left: 13%;
      }

      .icon-container{
        font-size: 24px;
        color: #ffc700;
      }
    }
  }
}

.navigation {
  padding: 5px 5px 10px;

  ul {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;

    li {
      padding: 10px;
    }
  }
}
