$desktop: 376px;

%svg {
  width: 18.37px;
  height: 14px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
%svg-horizontal {
  width: 11.12px;
  height: 11px;
  margin-left: 5px;
  cursor: pointer;
}
%labels {
  font-family: 'Roboto', sans-serif;
  display: flex;
}

@mixin desktop {
   @media (min-width: #{$desktop}) {
     @content
   }
}

.vertical {
  width: 115.72px;
  height: 193px;
  margin: 10px 20px 10px 0;
  @include desktop {
    width: 193px;
    height: 250px;
  }
  .image-container {
    width: 100%;
    margin: 0 auto;
    @include desktop{
      height: 129px;
    }
  }
  .img {
    width: 115.72px;
    height: 79.98px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include desktop{
      width: 193px;
      height: 129px;
    }
  }

  .article-details {
    .title-container {
      .title {
        @extend %labels;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 11px;
        margin-top: 10px;
        @include desktop{
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          white-space: nowrap;
          width: 90%;
        }
      }
      .author-name {
        @extend %labels;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 11px;
        margin-top: 5px;
        @include desktop{
          font-size: 12px;
        }
      }
      .description {
        display: none;
      }
    }
    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 15px;
      color:rgba(0, 0, 0, 0.8);
      cursor: pointer;
      .like, .dislike, .comment{
        display: flex;
        align-items: center;
        font-size: 10px;
        @include desktop {
          font-size: 14px;
        }
      }

      .comment, .dislike {
        margin-left: 5px;
        font-size: 10px;
      }

      .icon-label {
        @extend %labels;
        font-family: 'Monaco', sans-serif;
        font-size: 12px;
        height: 100%;
        color: rgba(0, 0, 0, 0.7);
        position: relative;
        right: 9px;
        @include desktop {
          font-size: 12px;
        }
      }
      .icon-container {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.7);
      }
      .hor-readTime {
        display: none;
      }
    }
    .ver-readTime {
      @extend %labels;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 10px;
      margin-top: 10px;
    }
  }
}

.horizontal {
  width: 355.5px;
  height: 102.86px;
  display: grid;
  grid-template-columns: 27.94% 72.06%;
  grid-template-areas: 'image body';
  @include desktop {
    width: 986px;
    height: 147px;
  }
  .image-container {
    width: 100%;
    margin: 0 auto;
    grid-area: image;
    @include desktop{
      width: 100%;
      margin: 0 auto;
      height: 147px;
    }
  }
  .img {
    width: 88.29px;
    height: 64.31px;
    margin: 0 auto;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 1s ease-in;
    @include desktop{
      width: 100%;
      height: 147px;
    }
  }
  .article-details {
    grid-area: body;
    padding: 2px;
    @include desktop{
      padding: 0 174px 0 20px;
    }
    .title-container {
      .title {
        @extend %labels;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        margin: 3px 3px;
        @include desktop{
          font-size: 15px;
          margin: 15px 0 3px 0;
        }
      }
      .author-name {
        @extend %labels;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 8px;
        margin: 3px 3px;
        @include desktop{
          font-size: 14px;
          margin: 5px 3px;
        }
      }
      .description {
        @extend %labels;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 9px;
        margin: 3px 3px;
        font-weight: 100;
        @include desktop{
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          margin: 5px 3px;
        }
      }
    }
    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      margin-top: 5px;
      margin: 3px;
      @include desktop {
        margin-top: 15px;
      }
      .like, .dislike,  .comment{
        display: flex;
        align-items: center;
        z-index: 1;
      }

      .dislike {
        margin-left: 8px;
        @include desktop {
          margin-left: 15px;
        }
      }

      .comment {
        margin-left: 8px;
        @include desktop {
          margin-left: 30px;
        }
      }
      .icon-label {
        @extend %labels;
        font-family: 'Monaco';
        font-size: 12px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 3px;
        position: relative;
        right: 11px;
      }

      .icon-container {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.7);
      }

      .hor-readTime {
        display: none;
        @include desktop {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: 10px;
          display: block;
          font-size: 10px;
          margin-left: auto;
        }
      }
    }
    .ver-readTime {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 10px;
      margin-top: 5px;
      @include desktop {
        display: none;
      }
    }
  }
}
