.search_page {
  display: grid;
  grid-template-areas:
  'header  header  header  header'
  'filter   body    body    body'
  'footer  footer  footer  footer';

  .header {
    grid-area: header;
    position: sticky;
    top: 56px;
    background-color: white;
  }
  .filter {
    grid-area: filter;
    margin: 0 0 60px 0;
  }
  .body {
    grid-area: body;
    margin: 0 0 60px 150px;
  }
  .footer {
    grid-area: footer;
    margin: 20px;
  }
}
