.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  .form-header {
    font-size: 34px;
    margin: 0 0 15px 0;
  }

  .form-text {
    text-align: center;
    max-width: 433px;
    font-size: 14px;
    font-weight: 100;
    margin: 0 0 10px 0;
  }

  form {
    margin: 0 0 15px 0;
  }

  .alternative-login {
    font-size: 12px;
    p {
      margin: 0 0 10px 0;
    }
    .social-login {
      display: flex;
      justify-content: center;

      span {
        display: flex;
        align-items: center;
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 5px 10px;
        width: 100%;

        &:last-child {
          border-right: none;
        }

        i {
          margin-right: 5px;
          padding: 10px;
        }
      }
    }
  }

  .switch-context {
    font-size: 14px;
    margin-top: 18px;

    #sc-sn {
      color: #460DE5;
      font-weight: 100;
      transition: all .2s;
      display: inline;
      text-align: center;
      &:hover {
        color: #ffa500;
        cursor: pointer;
      }
    }
  }

  .forgot-password {
    font-size: 12px;
    margin-top: 15px;

    a {
      color: #460DE5;
      font-weight: 100;
      transition: all .2s;

      &:hover {
        color: #ffa500;
      }
    }
  }
}
