.tag-input-field {
  font-size: 14px;
  background: inherit;
  border: none;
  margin: 20px 0 20px 0;
  min-width: 400px;
  max-width: 400px;
  transition: ease-in-out .2s;
  height: 30px;
  border-bottom: 1px solid #b892348f;

  &:focus {
    outline: none;
    border-bottom: 2px solid #fbc02a;
  }
}

.selected-tag {
  overflow: hidden !important;
}

.tag {
  background-color: #fbc02a7c;
  color: black;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
  margin-right: 5px;
}

.remove-tag {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}


.tag-wrapper {
  max-width: 400px;
  min-width: 400px;
}

.article-image-div {
  display: flex;
  flex-direction: column;

  button {
    padding: 10px;
    color: black;
    font-size: 14px;
    background-color: #fbc02ad3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;

    &:hover {
      background-color:#fbc02a;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
  
  #custom-text {
    margin: 10px 0 0 10px;
    font-size: 14px;
    font-family: sans-serif;
    color: #aaa;
    font-style: italic;
  }
}

.description-input {
  border: 1px solid #ddd;
  transition: all .4s;
  padding: 10px;
  height: 80px;
  width: 95%;
  resize: none;
  font-size: 14px;
  margin-bottom: 10px;

  &:focus {
    border: 1px solid #fbc02ad3;
    box-shadow: 0px 2px 4px -1px #fbc02a7c;
  }

  &::placeholder {
    color: #ddd;
  }
}

.description-text {
  max-width: 580px;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
  color: #0e0c07ad;
  font-style: italic;

}
